extends layout

block content
  h1 #{title}: #{fruit.name}

  p Do you really want to delete this Item?

    form(method='POST' action='')
      div.form-group
        input#fruitid.form-control(type='hidden',name='fruitid', required='true', value=fruit._id )

      button.btn.btn-primary(type='submit') Delete Item

