extends layout

block content
  h1 #{title}:

  p Do you really want to delete this Item?

    form(method='POST' action='')
      div.form-group
        input#fruitname.form-control(type='hidden',name='fruitname', required='true', value=fruit._id )

      button.btn.btn-primary(type='submit') Delete Fruit


