extends layout

block content
  h1 #{title}: #{solid.name}

  p Do you really want to delete this Item?

    form(method='POST' action='')
      div.form-group
        input#solidid.form-control(type='hidden',name='solidid', required='true', value=solid._id )

      button.btn.btn-primary(type='submit') Delete Item

